.view{
    min-height: 90vh;
    padding: 5%;
    padding-bottom: 150px;
}

.view .center_content{
    position: relative;
    top: 40vh;
    transform: translateY(-40%);
    vertical-align: middle;
    text-align: center;
}

.view .no_center_content{
    position: relative;
    top: 50px;
}

.view .title{
    position: absolute;
    font-size: 200%;
}

.view .right{
    padding: 5%;
    position: relative;
    top: 40vh;
    transform: translateY(-40%);
    text-align: center;
    width: 40%;
    float: right;
    background: None;
}

.view .left{
    padding: 5%;
    position: relative;
    top: 40vh;
    transform: translateY(-40%);
    text-align: left;
    width: 40%;
    float: left;
    background: None;
}

.zoom{
    transition: transform .2s; /* Animation */
}

.zoom:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

#home_view{
    font-size: 300%;
}

#about_view{
    color: red;
}

#websites_view{
    color: blue;
}

#projects_view{
    color: green;
    text-align: center;
}

#links_view{
    color: orange;
}

#contact_view{
    color: purple;
}

#projects_view .no_center_content .project{
    background-color: LightGreen;
    border-radius: 25px;
    display: inline-block;
    margin: 2% 5%;
    padding: 2.5%;
    height: 200px;
    width: 225px;
    border-style: solid;
    border-width: 2px;
}

#projects_view .no_center_content .project .title{
    position: relative;
    height: 10%;
    margin-bottom: 35%;
}

#projects_view .no_center_content .project .text{
    margin: 10% 0;
}

#back_to_home{
    padding: 5%;
    margin:auto;
}

html{
    font-family: "Avenir";
}

a {
    text-decoration: none;
    display: inline;
    padding: 0 5%;
}

a:hover{
    text-decoration: underline;
}
