title{
    color: orange;
}

.titletext {
    color: #99E1D9;
    font-family: palatino;
    font-size: 250%;
    text-align: center;
}

.basictext {
    color: black;
    font-family: avenir;
    font-size: 160%;
    text-align: center;
}

.projectlink{
    white-space: nowrap;
    width: 200%; 
    line-height: 225%;
    border: 3px solid #99E1D9;
    border-radius: 30px;
    color: black;
    font-family: avenir;
    padding: 4px 10px;
    text-align: center;
    font-size: 150%; 
    text-decoration: none;
}

.projectlink:hover {
    background-color: #99E1D9;
    color: white;
}

.contactlink{
    display: inline-block;
    color: #99E1D9;
    font-family: avenir;
    font-size: 160%;
    text-decoration: None;
}

.contactlink:hover{
    font-size: 190%; 
}

.footertext{
    display: inline-block;
    color: white;
    font-family: avenir;
    font-size: 160%; 
    text-decoration: None;
}


html{
    background-attachment: fixed
    height: 100%;
    background-repeat: no-repeat;
    padding-bottom:0px;
    background-size: cover;
}

#footer{
    display: inline-block;
    /*background: #FFFAE3;*/
    /*position: fixed;*/
    font-size: 1.5vw;
    bottom: 0%;
    width: 100%;
    text-align: center;
}

div span{
    text-align: center;
    padding-top: 17%;
    padding-left: 0.7%;
    padding-right: 0.7%;
    padding-bottom: 0px;
    /*background: #FFFAE3;*/
}


/* Menu Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5D576B;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: avenir;
}

li a:hover {
    background-color: #111;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
