body {
    background-color: powderblue;
}

title{
    color: orange;
}

#h01 {
    border: 4px solid orange;
    padding: 40px;
    color: blue;
    font-family: avenir;
    font-size: 160%;
    text-align: center;
}

#p01 {
    color: red;
    font-family: courier;
    font-size: 200%;
    text-align: center;
}

p.bluetext {
    color: blue;
}

#video {
    align: left;
    margin right: 100px;
    
}

#image {
    align right;
    margin left: 20px;
}

#hellop{
    color: orange;
    font-family: Palatino;
    font-size: 300%;
}

#link{
    color: green;
    font-family: courier;
    font-size: 300%;
    text-decoration: none;
     
    link:link {
        color: green;
        background-color = transparant;
        text-decoration: italicize;
    }
    link:hover {
        color: purple;
        background-color = transparant;
        text-decoration: italicize;
    }
}
