body.light-mode {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;
    .custom-card {
      background-color: #f1f1f1 !important;
      border-color: #e2e2e2 !important;
    }
  }
  
  body.dark-mode {
    background-color: #10171d;
    color: #dfdfdf;
    transition: background-color 0.3s ease;
    .custom-card{
      background-color: #18232c !important;
      border-color: #202e3a !important; 
    }
  }
  
  .dark-mode-toggle {
    & > button {
      font-size: larger;
      background: none;
      border: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
  