:root {
  --main-bg-color: #5E5E7A;
  --main-text-color: #DCD9CD;
  --title-text-color: #FFFFFF;
  --special-text-color: #b1efff;
}

html {
  background-color: var(--main-bg-color);
  font-size: calc(35px + 2vmin);
  font-family: 'Cutive Mono', monospace;
  color: var(--main-text-color);
}

.inline-emoji {
  display: inline-block;
  font-size: calc(20px + 2vmin);
}

.main {
  padding-bottom: 25px;
  margin: 0;
}

.bullets {
  font-size: calc(10px + 2vmin);
}

.link {
 color: var(--special-text-color);
 text-decoration: none;
}

.link:hover {
  font-weight: bold;
}

.tag {
  position: fixed;
  font-size: 15px;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, -50%);
  margin: 0 auto; 
}

.heading {
  padding: 5px 0;
  color: var(--title-text-color);
}

.box_center {
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
