$secondary-color: #895ea7;

html {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica";
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 15px;
}

.scroller {
    height: 95vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
  section {
    scroll-snap-align: start;
    height: 96vh;
    padding: 5px 0;
  }
}

.scroller::-webkit-scrollbar {
    display: none;
}

.link {
  text-decoration: none !important;
  color: $secondary-color; 
  display: inline;
  position: relative;
  overflow: hidden;
  font-weight: 600;
}

.link:after {
  text-decoration: none !important;
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: $secondary-color;
  height: 3px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.link:hover {
  text-decoration: none !important;
  color: $secondary-color;
}

.link:hover:after,
.link:focus:after,
.link:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.main {
  max-width: 800px;
  text-align: justify;
}

.bottomBitmoji {
  position: fixed;
  bottom: 0;
  img {
    width: 90px;
  }
}

.center {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: relative;
  margin-top: 50px;
  text-align: right;
}

.header {
  position: absolute;
  right: 0;
  li {
    display: inline-block;
    margin: 0 20px;
    a {
      font-size: 15px;
    }
  }
}

.coloredLine {
  height: 5px;
  border-style: none;
  color: $secondary-color;
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.landing {
  margin-top: 85px;
}

@media screen and (min-width: 100px) {
  .landing {
    max-width: 90%;
    font-size: 15px;
    line-height: 30px;
  }
  .footer {
    font-size: 15px;
  }
  .header {
    li {
      margin: 0 5px;
      a {
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .landing {
    max-width: 90%;
    font-size: 25px;
    line-height: 40px;
  }
  .footer {
    font-size: 15px;
  }
  .header {
    li {
      margin: 0 15px;
      a {
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .landing {
    max-width: 85%;
    font-size: 30px;
    line-height: 45px;
  }
  .footer {
    font-size: 20px;
  }
}




