$secondary-color: #c6538c;

html {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica";
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-width: 800px;
  margin: auto;
  padding: 15px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $secondary-color; 
  display: inline;
  position: relative;
  overflow: hidden;
  font-weight: 600;
}

.bottomBitmoji {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  img {
    width: 20%;
    margin: auto;
     display: block;
  }
}

a:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: $secondary-color;
  height: 3px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
a:hover:after,
a:focus:after,
a:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.center {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: relative;
  margin-top: 50px;
  text-align: right;
}

.header {
  position: absolute;
  right: 0;
  li {
    display: inline-block;
    margin: 0 20px;
    a {
      font-size: 15px;
    }
  }
}

.coloredLine {
  height: 5px;
  border-style: none;
  margin-top: -3px;
  color: $secondary-color;
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.landing {
  margin-top: 85px;
}

@media screen and (min-width: 100px) {
  .landing {
    max-width: 90%;
    font-size: 15px;
    line-height: 30px;
  }
  .footer {
    font-size: 15px;
  }
  .header {
    li {
      margin: 0 7px;
      a {
        font-size: 15px;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .landing {
    max-width: 90%;
    font-size: 25px;
    line-height: 40px;
  }
  .footer {
    font-size: 15px;
  }
  .header {
    li {
      margin: 0 15px;
      a {
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .landing {
    max-width: 85%;
    font-size: 30px;
    line-height: 45px;
  }
  .footer {
    font-size: 20px;
  }
}




