@import 'https://fonts.googleapis.com/css?family=Ubuntu+Mono';

html { 
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica';
}

body {
  /* background: url(../img/background.png) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-width: 700px;
  margin: auto;
  padding: 0 50px;
}

.landing {
  margin: 0 auto;
  margin-top: 90px;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
}

.link {
    text-decoration: none;
    color: orange;
    display: inline;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.link:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: orange;
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .link:hover:after,
  .link:focus:after,
  .link:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }

.center {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%,
}

.footer {
    font-size: 30px; 
    position: relative;
    margin-top: 50px;
    color: blue;
    text-align: right;
}

@media (--xs) {
  .landing {
    max-width: 90%;
  }
}

@media (--gt-xs) {
  .landing {
    max-width: 80%;
  }
}

@media (--gt-md) {
  .landing {
    max-width: 900px;
  }
}