@import "https://fonts.googleapis.com/css?family=Ubuntu+Mono";

html {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica";
}

body {
  /* background: url(../img/background.png) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-width: 700px;
  margin: auto;
  padding: 0 50px;
}

.landing {
  margin: 0 auto;
  margin-top: 90px;
  font-weight: 700;
}

.link {
  text-decoration: none;
  color: orange;
  display: inline;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.bottomBitmoji {
  position: fixed;
  bottom: 0;
}

.bottomBitmoji img {
  width: 20%;
  margin: auto;
  display: block;
}

.link:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: orange;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.link:hover:after,
.link:focus:after,
.link:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.center {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.footer {
  position: relative;
  margin-top: 50px;
  text-align: right;
}

@media screen and (min-width: 480px) {
  .landing {
    max-width: 90%;
    font-size: 25px;
    line-height: 35px;
  }
  .footer {
    font-size: 25px;
    line-height: 35px;
  }
}

@media screen and (min-width: 600px) {
  .landing {
    max-width: 80%;
    font-size: 30px;
    line-height: 40px;
  }
  .footer {
    font-size: 30px;
    line-height: 40px;
  }
}
