:root {
  --main-color: #9DC183;
  --main-bg-color: #5E5E7E;
}

html {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
}

.main {
  text-align: center;
  color: white;
}

.logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40vmin;
}

.sub_logo {
  animation: App-logo-spin infinite 10s linear;
  height: 20vmin;
}

.link {
  color: var(--main-color);
  font-size: calc(10px + 2vmin);
  padding: 0 10px; 
  text-decoration: none;
}

.link:hover {
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
